In [1]:
!pip install sqlalchemy
!pip install PyMySQL

Requirement already satisfied: sqlalchemy in /Users/chloeburman/opt/anaconda3/lib/python3.9/site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in /Users/chloeburman/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: PyMySQL in /Users/chloeburman/opt/anaconda3/lib/python3.9/site-packages (1.0.2)

In [2]:
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input
password = getpass.getpass()

········

In [4]:
#Check the number of rentals for each customer for May


connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)
datamay = pd.read_sql_query('select customer_id, count(rental_id) as N_rental_May from rental_may \
group by customer_id \
order by N_rental_May DESC;', engine)
datamay.head()

   customer_id  N_rental_May
0          197             8
1          109             7
2          506             7
3           19             6
4           53             6

In [5]:
# Check the number of rentals for each customer for June

engine.execute("USE sakila")
query = 'select customer_id, count(rental_id) as N_rental_June from rental_june GROUP BY customer_id order by N_rental_June desc;'
datajune = pd.read_sql_query(query, engine)
datajune.head()

   customer_id  N_rental_June
0           31             11
1          454             10
2          213              9
3          267              9
4          295              9

In [6]:
# Write a function that checks if customer borrowed more or less films in the month of June as compared to May.

import pandas as pd
import numpy as np

In [7]:
merged = datamay.merge(datajune, how='inner', on='customer_id')
merged

     customer_id  N_rental_May  N_rental_June
0            197             8              8
1            109             7              5
2            506             7              5
3             19             6              3
4             53             6              5
..           ...           ...            ...
507          580             1              1
508          582             1              3
509          590             1              5
510          595             1              2
511          599             1              4

[512 rows x 3 columns]

In [9]:
may = 0
june = 0
for value in range(len(merged['customer_id'])):
    if merged.N_rental_May[value] > merged.N_rental_June[value]:
        may += 1
    else:
        june +=1
print ('In May,',may,'customers made more rentals');
print ('In June,',june,'customers made more rentals');
if may > june:
    print( 'May is greater')
else:
    print('June is greater')

In May, 92 customers made more rentals
In June, 420 customers made more rentals
June is greater